body{
  margin: 0;
  font-family: "Roboto", sans-serif;
}

section {
  padding: 30px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #0A1931;
  color: #fff
}

.portrait{
  border-radius: 10px;
}

.text-container{
  margin: auto 40px;
}

.div-container,
.portrait-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:768px) {
  .portrait-container{
    display: none;
  }

}

.section-one {  
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-two {  
  border-style: solid;
  border-color: #CD113B;
  border-width: 30px
}

p{
  margin: 0;
}

.text-highlight{
  font-style: italic;
  color: #CD113B;
  background-color: #FFC947;

}
