body{
  margin: 0;
  font-family: "Roboto", sans-serif;
}

section {
  padding: 30px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #0A1931;
  color: #fff
}

.portrait{
  border-radius: 10px;
}

.text-container{
  margin: auto 40px;
}

.div-container,
.portrait-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-one {  
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-two {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-style: solid;
  border-color: #CD113B;
  border-width: 30px;
  padding: 0 40px;
}

.section-two p{
  line-height: 25px;
  margin-top: 15px;
  font-size: 16px;
}

.projects-section{
  display: block;
  height: fit-content;  
}

.projects-section .wrap{
  padding: 0 50px;
}

.contactSection .wrap{
  padding-top: 2rem;
}

p{
  margin: 0;
}

.text-highlight{
  font-style: italic;
  color: #CD113B;
  background-color: #FFC947;
  padding: 0 10px;
  font-weight: 700;
  font-size: 50px;
  font-style: "normal"
}

.socials-container{
  margin: 30px auto;
  display: flex; 
}

.socials-container .wrap{
  margin: 0 auto;
}

@media screen and (max-width:1210px) {
  .portrait-container{
    display: none;
  }

  .section-one,
  .section-two{
    display: flex;
    align-items: center;
  }

  .text-container{
    margin: 0;
  }
}